@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,600;1,800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    /* padding: 0px; */
}

/* herder section */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 120px 40px 150px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    
}
.nav-text{
    color: #131313;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.banner-item{
    text-align: center;    
}

.banner-text{
    color: #131313;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
.banner-para{
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
}
.banner-btn{
    background: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 20px 30px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 25px;
}
header img{
    height: 500px;
    width: 100%;
    margin-top: 35px;
}
.banner-contant{
    margin-top: 70px;
    align-items: center;
}
/* header section end */

/* main section */
main{
    max-width: 1440px;
    margin: 0px auto;
}
/* teams style */
.team-container{
    display: flex;
    align-items: center;
    padding: 40px 120px 40px 180px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.team-img-size{
    width: 15rem;
    height: 16rem;
}
.team-text{
    margin-left: 3rem;
}

.title-Q{
    color: #727272;
    font-size: 2.5rem;
    font-weight: 500;
}
.title-O{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}
.title-F{
    color: #FF900E;
    font-size: 2.5rem;
    font-weight: 700;
}
.team-text-para{
    color: #727272;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 18px;
}

/* features section */
.features {
    margin-top: 100px;
    display: flex;
    gap: 30px;
    padding: 40px 120px 40px 110px;
}

.features .features-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    font-size: 2rem;
    font-weight: 700
}

.feature-text {
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #FFF;
}
.card{
    border-radius: 8px;
    background: #FFF;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-para{
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.feature-img img{
    height: 44rem;
    width: 33rem;
    margin-left: 20px;
}

 .ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 200px;
    padding: 35px 15px;
    text-align: center;
    position: relative;
    right: 40px;
    bottom: 10px;
    bottom: 100px;
}

.ten-years-badge h2{
    font-size: 2rem;
    margin: 0px;
}

.ten-years-badge p{
    font-size: 1.3rem;
}

/* facts section */
 

.facts-card-container {
    display: flex;
    justify-content: space-around;
    padding: 40px 120px 40px 140px;
}
.facts-title{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.facts-text{
    padding: 40px 120px 40px 110px;
}
.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 25px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-para{
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
}









/* media section */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }    
    nav{
        flex-direction: column;
    }
    nav > ul{
        margin-top: 25px;
    }
    header img{
        height: auto;
    }

    main{
        padding: 30px 20px 30px 20px ;
    }
    .team-container{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-text{
        margin-top: 15px;
    }


}